/* CSS Document */


body {
      margin-top: 1.0em;
      background-color: #000000;
	  background-image: url('../imagenes/fondo.jpg');
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
      font-family: Helvetica, Arial, FreeSans, san-serif;
      color: #ffffff;
    }
#pagina {
	  width: 100%;
    }
#encabezado {
	  position: relative;

      margin: 0 auto;
    }
#contenido { color: #fff; padding: 15px; 
	  position: relative;
	  margin: 0 10px;

	}
#logo { 
	  position: relative;
	  width: 50%;
	  margin:0 auto 0 auto;
      
    }
#download { 
	  clear:both;
	  position: relative;
	  width: 50%;
      margin-left: 2px;
	  float: right;
    }
#footer { clear:both;
	  position: relative;

    }
h1 { font-size: 3.8em; color: #3572A0; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none; color: #3572A0; }
h2 { font-size: 1.5em; color: #3572A0; }
h3 { text-align: center; color: #3572A0; }
a { text-decoration: none; color: #3572A0; }

.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}

.gitlive {clear:both; margin-right: 10px; float: right; width: 35%;}
.gitclone { width: 400px; }
.cuerpo {  margin:0 auto 0 0; width: 70% }
pre { background: #0E1E2B; color: #fff; padding: 15px; border: 2px solid #3572A0;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }